body {
    background-color: dimgrey;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: azure;
    color: dimgrey;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}

#conteudo {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

#container-botoes {
    text-align: center;
}

button {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
}

button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

#voltas {
    font-size: 1.4em;
    font-weight: bold;
}